



.main .mlist.unused {
  background: #ccc;
  padding: 10px;
}
.main .mlist span a {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.inActive {
  background: #f73a10;
  color: black;
}

.isArchived {
  background: #f7c510;
  color: black;
}

.archivedAndNotLive {
  background: #80f710 !important;
  color: black;
}

.inActive p {
  color: black;
}

h2 span.got {
  color: green;
}

fieldset.inputs {
  padding: 10px;
  margin: 0;
  border: 0;
  display: inline-block;
}

.inputGreen {
  color: green;
}

.inputRed {
  color: red;
}

.inputYellow {
  color: goldenrod;
}